# Environment
.env
.env.local
.env.production
appsettings.Development.json
appsettings.Production.json
appsettings.Dev.json
launchSettings.json
*.ppk

# .NET
bin/
obj/
*.user
*.suo
.vs/

# Node
node_modules/
dist/
.vite/

# Docker
*.log

# macOS
.DS_Store

# IDE
.idea/
.vscode/settings.json

wwwroot/assets

PropertyMatch.API/Properties/launchSettings.json